<!--form must have action attribute (where to go after submitting, e.g. /dashboard) !
    form must have method attribute of "POST" since we are submitting data to the server! 
    input must have nama attribute! 
    input nama must match mongoose Schema!
    don't forget a button with type of "submit"
 -->
<form action="/dashboard" method="POST">
    
    <div class="name_container">
        <label for="name">Username:</label>
        <input type="text" name="name" id="">
    </div>

    <div class="password_container">
        <label for="password">Password:</label>
        <input type="password" name="password" id="">
    </div>

    <button type="submit">Submit</button>
</form>
