<div class="container">
    <div class="row">
        <aside class="col-sm-3 bg-secondary text-white">
            <img src="/images/cute1.jpg" alt="profile picture">
            <p><em>Current password is <%= password %></em></p>
        </aside>
        <main class="col-sm-8">
            <h1>Welcome <%= name %></h1>

            It is currently <p id="time"></p>
            <!-- name and password are ejs variables we will pass in some values later on 
            when we deal with the post req for the form which will in response send the name and password 
            of the user to the dasboard.ejs template-->
        </main>
    </div>
</div>
<script>
    let timeTag = document.querySelector("#time");
    let timer = ()=>{
        var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    var time = h + ":" + m + ":" + s + " " + session;

    timeTag.innerText = time;
    }

    setInterval(timer,1000);
    //get date first with new Date(); then whatever is the date get the time 
    //get time with getTime()

</script>