<h1>hi <%= name %></h1>
<h1>i think your password is <%= password %></h1>
<!-- name and password are ejs variables we will pass in some values later on 
when we deal with the post req for the form which will in response send the name and password 
of the user to the dasboard.ejs template-->