<form action="/login" method="POST">
<label for="name">Name</label>
<input type="text" id="" name="name">
<label for="password">Password</label>
<input type="password" id="" name="password">
<button type="submit">Login</button>
</form>